
@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
    background-color: black;
    color: #00E8FF;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    text-align: center;
}

h1  {
    margin-bottom: 10px;
}

h2  {
    color: grey;
    font-family: monospace;
    font-size: 20px;
}

#inputBox  {
    background-color: black;
    color: #00E8FF;
    font-family: monospace;
    font-size: 30px;
    border: 2px solid; 
    text-align: center;
}

ul {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
  }

  /* when you can, come back and use a flexbox on <li> elements (or whatever
  solution works) to fix the fact that user can click in empty space (right/left)
  of task item to strike and un-strike it */
li {
    cursor: pointer;
    background-color: black;
}

#deleteListBtn {
    background-color: black;
    color: grey;
    font-family: monospace;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

/* when you can, come back and center these <li> buttons vertically 
(NOTE that below commented code did not work) */
.deleteItemBtn  {
    background-color: black;
    color: grey;
    font-family: monospace;
    cursor: pointer;
    margin-left: 30px;
    /* margin-bottom: 15px; */
    /* padding-bottom: 10px; */
    /* text-align: center; */
    /* margin-top: 0px; */
    /* object-fit: contain; */
}